spring:
  application:
    name: eureka-server
server:
  port: 8761
eureka:
  instance:
    # --- TAMBAHAN ---
    # Beritahu Eureka untuk menggunakan hostname 'eureka' saat berkomunikasi
    # Ini adalah nama container-nya di dalam jaringan Docker.
    hostname: eureka
  client:
    register-with-eureka: false
    fetch-registry: false
logging:
  level:
    com.netflix.eureka: OFF
    com.netflix.discovery: OFF

# --- Konfigurasi Actuator & Prometheus ---
management:
  endpoints:
    web:
      exposure:
        include: "*" # Tanda kutip penting di YAML
  endpoint:
    health:
      show-details: always
